
body{
  margin: 50px;
  text-align: center;
  font-family: "Libre Caslon", serif;
color: #40514E
}

h1{
  margin-top: 0px;
  font-family: 'Merriweather', serif;
font-size: 90px;
color: #66BFBF;
padding-bottom: 10px;
}

h2{
font-family: 'Montserrat', sans-serif;
color:#66BFBF;
}

h3{
  font-family: 'Sacramento', cursive;
  color: #11999E
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
  color: #EAF6F6
}

.top-container{
  background-color: #f7f7e8
  margin-top: 50px;
  font-family: font-family: 'Libre Caslon', serif;
  font-size: 50px;
  color: #487E95;
}

.middle-container {
margin: 100px;
}
.bottom-container {
  margin-top: 100px;
background-color: #66bfbf;
padding: 50px 0 20px;

}
.lorem{
  line-height: 2;
}


.profile {
  margin-top: 0px;

}

.ajiboy {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  color: #11999E
}
.Engineer {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
color: #ffb26b;
width:30%;
margin: auto;
}
.p{
  line-height: 2;
}


.background {
  width:
  height:
}
.skill {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.subtext{
font-size: 40px;


}
.subtext-1 {
  font-size: 40px;
}

.mech-img{
width: 25%;
float: left;
margin-right: 30px;
}

.code-img{
  width: 25%;
float: right;
margin-right: 30px;

}
.contact-message {
  line-height: 2;
  width: 40%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(top bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(top bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
